h1{
    background-color: rgb(88, 55, 14);
    color: rgb(249, 213, 166);
    font-size: 60px;
    line-height: 90px;
    text-align: center;
}

.kdojsem{
    color: rgb(88, 55, 14);
    background-color: rgb(249, 213, 166);
}

h2{
    font-size: 40px;
}





